{% extends 'base.html.twig' %}

{% block title %}Employees{% endblock %}

{% block body %}
    <h1 class="text-xl text-primary">Employees</h1>

    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>
                        <a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
                        <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_employee_new') }}" class="btn btn-primary mt-2">Create new</a>
{% endblock %}
